.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
  margin-right: 40px;
}

.tall-div {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 50px;
}
body{
    padding-top: 50px;
  }
  .custom-bg-light-gray {
    background-color: #c7bfbf;
  }

  .footer-container {
    position: relative;
    z-index: 2;
    margin-top: 20px;
  }
  
  #carousel {
    height: 600px; 
  }
  #carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    #grid-cards {
      position: relative;
      top: -350px;
    }
    .footer-container{
      position: relative;
      top: -350px;
    }
  }
  